<div class="aboutMe">
    <div class="mask"></div>
    <div class="closeBT"><span class='icomoon-circle-cross'></span></div>
    <div class="content">
        <h1>WYSIWYG 轉 Markdown</h1>
        <p>
            這是一個&nbsp;<strong>所見即所得</strong>&nbsp;轉 Markdown 的小工具，我實在太厭倦每次為了要打 Markdown 時還要特地去查 Markdown 的 <a href="http://markdown.tw/">Document</a>，希望有了這小工具可以讓大家更方便的編輯 md 檔或是 Trello。
        </p>

        <p>此工具使用了以下幾個套件:
            <ul>
                <li><a href="https://jquery.com/">jQuery</a></li>
                <li><a href="http://backbonejs.org/">BackboneJS</a></li>
                <li><a href="http://requirejs.org/">RequireJS</a></li>
                <li><a href="http://alex-d.github.io/Trumbowyg/">trumbowyg</a></li>
                <li><a href="https://github.com/hgilani/html2markdown">html2markdown</a></li>
            </ul>

        </p>

        <br>
    </div>
</div>
